<h1>posts#new</h1>
<%= form_for @post do |f| %>
    <div class="field">
        <%= f.label :title %>
        <p> <%= f.hidden_field :title, :size => 140, value: @movie['title']%> </p>
        <%= f.label :image %>
        <p><%= f.hidden_field :image, value: 'https://image.tmdb.org/t/p/w200' + @movie['poster_path'] %></p>
        <%= f.label :contents %>
        <p> <%= f.hidden_field :contents, :size => 140, value: @movie['overview'] %></p>
    </div>
    <%= f.submit "postする" %>
<% end %>
<%= link_to "post一覧に戻る", posts_path %>
