<!DOCTYPE html>
<html>
  <head>
    <title>movie app</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>movie-app</h1>
      <nav class="header-nav">
        <ul class="header-list">
          <li></li>
          <li></li>
          <% if user_signed_in? %>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "マイページへ", user_path(current_user.id) %></li>
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path  %></li>
          <% end %>
          </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer></footer>
  </body>
</html>
